module: satosa.micro_services.db_acl.DBAcl
name: DBAcl
config:
  db_host: 'localhost'
  db_user: user
  db_schema: schema
  db_password: password
  idp_identifiers:
    #- uid
    - eppn
  access_denied: '/static/access_denied.html'
