module: satosa.micro_services.db_attribute_store.DBAttributeStore
name: DBAttributeStore
config:
  db_host: 'localhost'
  db_user: user
  db_schema: schema
  db_password: password
  idp_identifiers:
    - uid
    - eppn

  # Whether to clear values for attributes incoming
  # to this microservice. Default is no or false.
  clear_input_attributes: no

  # Use internal user_id as idp_identifier
  user_id: false
